/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

button
{
  -moz-appearance: none;
  text-align: center;
  color: var(--content-color1);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#empty-message
{
  font-size: 200%;
}

splitter
{
  -moz-appearance: none;
  background-color: var(--splitter-color);
  background-image: none;
  border-width: 0px;

  width: 3px;
  height: 3px;
  min-width: 0px;
  min-height: 0px;
  -moz-margin-start: -3px;
  cursor: e-resize;
}

#deck
{
  background-color: var(--toolbar-background);
}

#empty-message
{
  color: var(--body-color);
}

#list,
#source
{
  -moz-appearance: none;
  margin: 0px;
  border-width: 0px;
}

#list
{
  background-color: var(--toolbar-background);
  padding: 0px;
}

#list > richlistitem[selected=true]
{
  background-color: var(--selection-background);
}

.displayName
{
  color: var(--selection-color);
}

.source,
.location,
.compileTimeContainer
{
  color: var(--body-color);
}

.location
{
  color:  var(--highlight-blue);
}

.source,
.compileTime
{
  margin-left: 10px;
}

#source
{
  background-color: var(--body-background);
  color: var(--body-color);
  padding: 5px;
}

/*
 * Dark theme
 */

:root
{
  --body-background: #14171a;
  --body-color: #8fa1b2;
  --toolbar-background: #343c45;
  --selection-background: #1d4f73;
  --selection-color: #f5f7fa;
  --splitter-color: black;
  --highlight-blue: #46afe3;
  --content-color1: #a9bacb;
}
