/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

.dark-theme
{
  --body-background: #14171a;
  --body-color: #8fa1b2;
  --body-color-alt: #b6babf;
  --toolbar-background: #343c45;
  --selection-background: #1d4f73;
  --selection-color: #f5f7fa;
  --splitter-color: black;
  --highlight-blue: #46afe3;
  --content-color1: #a9bacb;

  --button-background: rgba(0, 0, 0, 0.2);
  --button-border: rgba(0, 0, 0, 0.4);
  --item-border-top: rgba(0, 0, 0, 0.2);
  --item-border-bottom: rgba(128, 128, 128, 0.15);
}

.light-theme
{
  --body-background: #fcfcfc;
  --body-color: #18191a;
  --body-color-alt: #585959;
  --toolbar-background: #f0f1f2;
  --selection-background: #4c9ed9;
  --selection-color: #f5f7fa;
  --splitter-color: #aaaaaa;
  --highlight-blue: #0088cc;
  --content-color1: #292e33;

  --button-background: rgba(170, 170, 170, 0.2);
  --button-border: rgba(170, 170, 170, 0.5);;
  --item-border-top: rgba(128, 128, 128, 0.15);
  --item-border-bottom: transparent;
}

button
{
  -moz-appearance: none;
  text-align: center;
  color: var(--content-color1);
  padding: 5px 10px;
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
}

#empty-message
{
  font-size: 200%;
}

splitter
{
  -moz-appearance: none;
  background-color: var(--splitter-color);
  background-image: none;
  border-width: 0px;

  width: 3px;
  height: 3px;
  min-width: 0px;
  min-height: 0px;
  -moz-margin-start: -3px;
  cursor: e-resize;
}

#deck
{
  background-color: var(--toolbar-background);
}

#empty-message
{
  color: var(--body-color);
}

#list,
#source
{
  -moz-appearance: none;
  margin: 0px;
  border-width: 0px;
}

#list
{
  background-color: var(--toolbar-background);
  padding: 0px;
}

#list > richlistitem
{
  border-top: 1px solid var(--item-border-top);
  border-bottom: 1px solid var(--item-border-bottom);
  padding: 3px;
}

#list > richlistitem[selected=true]
{
  background-color: var(--selection-background);
}

.displayName,
.location
{
  color: var(--selection-color);
}

:root.light-theme richlistitem:not([selected=true]) .displayName,
:root.light-theme richlistitem:not([selected=true]) .location
{
  color: var(--body-color-alt);
}

.source,
.compileTimeContainer
{
  color: var(--body-color);
}

.location
{
  cursor: pointer;
  text-decoration: underline;
}

.source,
.compileTime
{
  margin-left: 10px;
}

#source
{
  background-color: var(--body-background);
  color: var(--body-color);
  padding: 5px;
}
